{
  "$schema": "https://spec.openapis.org/oas/3.0/schema/2024-10-18",
  "openapi": "3.0.3",
  "info": {
    "title": "Osirion Fortnite Public API",
    "description": "This is the Osirion Fortnite API.\n\nThis API is unofficial and is not endorsed by or affiliated with Epic Games, Inc. Fortnite and related assets are trademarks and intellectual property of their respective owners.\nFor full legal terms and usage information, see: https://osirion.gg/legal/license.\n\nRate limits:\n- Account-related endpoint: 50 req/min.\n- Anything else: 100 req/min.\n\nThe API is currently in beta. For you, that means:\n  - Response times are a known bottleneck.\n  - Cosmetic shop history coverage currently starts in 2025.\n  - API keys will be added in the future, allowing:\n    - Higher rate limits.\n    - Access to account-related endpoints. Note that these endpoints are open in beta.\n\nFor support or other questions join our discord at https://discord.gg/osirion.\n\nFeature Comparison:\n\n| Feature                        | FortniteApi.io  | Fortnite-API.com | Osirion        |\n| ------------------------------ | --------------- | ---------------- | -------------- |\n| Localization                   | ✅              | ✅               | ✅             |\n| Different Image Sizes          | ✅              | ✅               | ✅             |\n| Cosmetics                      | ✅              | ✅               | ✅             |\n| Cosmetics Search               | ❌              | ✅               | ✅             |\n| Cosmetics Banners              | ❌              | ✅               | ✅             |\n| Cosmetics (Upcoming)           | ⚠️ outdated     | ❌               | ✅             |\n| Cosmetic Sets                  | ✅              | ✅               | ✅             |\n| Cosmetic Introduction          | ❌              | ✅               | ✅             |\n| Cosmetic Series                | ✅              | ✅               | ✅             |\n| Cosmetic Shop History          | ✅              | ✅               | ✅ 2025-now    |\n| Battle Pass                    | ⚠️ outdated     | ❌               | ✅             |\n| OG, Lego, Festival Pass        | ❌              | ❌               | ✅             |\n| Crew data                      | ✅              | ❌               | ✅             |\n| POIs, Map (BR)                 | ✅              | ✅               | ✅             |\n| POIs, Map (OG, Reload, Blitz)  | ❌              | ❌               | ✅             |\n| Item Shop                      | ✅              | ✅               | ✅             |\n| Item Shop Best Sellers         | ❌              | ❌               | ✅             |\n| Item Shop Real Money Bundles   | ✅              | ❌               | ✅             |\n| Account Lookup                 | ✅              | ❌               | ✅             |\n| Account Lookup (Bulk)          | ❌              | ❌               | ✅             |\n| Account stats (lifetime)       | ✅              | ✅               | ✅             |\n| Account stats (current season) | ❌              | ✅               | ✅             |\n| Account ranked data            | ✅              | ❌               | ✅             |\n| Ranked modes data              | ❌              | ❌               | ✅             |\n| News                           | ✅              | ✅               | ✅             |\n| News personalized per Island   | ❌              | ❌               | ✅             |\n| Tournaments                    | ⚠️ limited data | ❌               | ✅             |\n| Tournaments Leaderboards       | ⚠️ limited data | ❌               | ✅             |\n| Weapons                        | ✅              | ❌               | ✅             |\n| Weapons spawn chances          | ⚠️ outdated     | ❌               | ❌ not planned |\n| Playlists (Game modes)         | ✅              | ✅               | ✅             |\n| Creative island lookup         | ⚠️ limited      | ❌               | ✅             |\n| Creative island lookup (Bulk)  | ❌              | ❌               | ✅             |\n| Creative Discovery             | ⚠️ limited      | ❌               | ✅             |\n| Creative Discovery Pages       | ⚠️ limited      | ❌               | ✅             |\n| Creator code lookup            | ✅              | ✅               | ✅             |\n| Vehicle Stats                  | ⚠️ limited      | ❌               | ❌             |\n| Twitch drops                   | ✅              | ❌               | ❌             |\n| Rarities (deprecated by Epic)  | ✅              | ❌               | ❌             |\n| Quests                         | ⚠️ outdated     | ❌               | ✅             |\n| Augments                       | ✅              | ❌               | ✅             |\n| AES / Build info               | ❌              | ✅               | ✅             |",
    "termsOfService": "https://osirion.gg/legal/license",
    "version": "0.3.6",
    "contact": {
      "name": "API Support",
      "url": "https://discord.gg/osirion",
      "email": "lele@osirion.gg"
    }
  },
  "servers": [
    {
      "url": "https://fnapi.osirion.gg",
      "description": "PROD Environment"
    }
  ],
  "tags": [
    {
      "name": "Ranked",
      "description": "Fortnite ranked data"
    },
    {
      "name": "Accounts",
      "description": "Fortnite account lookups"
    },
    {
      "name": "News",
      "description": "Fortnite news data"
    },
    {
      "name": "Cosmetics",
      "description": "Fortnite cosmetics data"
    },
    {
      "name": "Weapons",
      "description": "Fortnite weapons data"
    },
    {
      "name": "Augments",
      "description": "Fortnite augments data"
    },
    {
      "name": "Links",
      "description": "Fortnite links (mnemonics) data"
    },
    {
      "name": "Discovery",
      "description": "Fortnite discovery data"
    },
    {
      "name": "Playlists",
      "description": "Fortnite playlists data"
    },
    {
      "name": "Season Passes",
      "description": "Fortnite season pass data"
    },
    {
      "name": "Maps",
      "description": "Fortnite maps data"
    },
    {
      "name": "Quests",
      "description": "Fortnite quests data"
    },
    {
      "name": "Shop",
      "description": "Fortnite shop data"
    },
    {
      "name": "Tournaments",
      "description": "Fortnite tournament data"
    },
    {
      "name": "Stats",
      "description": "Fortnite account stats data"
    },
    {
      "name": "Affiliates",
      "description": "Epic affiliate (support a creator) data"
    },
    {
      "name": "AES",
      "description": "Fortnite AES/build key data"
    }
  ],
  "paths": {
    "/v1/ranked/account-ranks": {
      "get": {
        "tags": [
          "Ranked"
        ],
        "operationId": "getAccountRanks",
        "description": "Fetch fortnite ranked data for the specified account",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountId"
            },
            "description": "The account whose ranks to fetch"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the ranked account data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account ranked data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountRankedDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ranked/modes": {
      "get": {
        "tags": [
          "Ranked"
        ],
        "operationId": "getRankedModes",
        "description": "Fetch fortnite ranked modes data (divistions, seasons)",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the ranked modes data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved ranked modes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RankedModesDataResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/lookup-by-account-id-bulk": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "getAccountLookupByAccountIdBulk",
        "description": "Lookup up to 100 Fortnite accounts by Epic account id in bulk",
        "parameters": [
          {
            "name": "accountIds",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/AccountLookupBulkQuery"
            },
            "description": "The account ids to lookup (maximum 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account lookup data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookupBulkDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/lookup-by-display-name": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "getAccountLookupByDisplayName",
        "description": "Lookup a Fortnite account by Epic display name",
        "parameters": [
          {
            "name": "displayName",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountDisplayName"
            },
            "description": "The display name to lookup"
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AccountLookupPlatformType"
            },
            "description": "The platform to lookup"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account lookup data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookupByDisplayNameDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/affiliates/by-slug": {
      "get": {
        "tags": [
          "Affiliates"
        ],
        "operationId": "getAffiliateBySlug",
        "description": "Lookup a creator affiliate by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountDisplayName"
            },
            "description": "The affiliate slug to lookup"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved affiliate lookup data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateBySlugDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aes": {
      "get": {
        "tags": [
          "AES"
        ],
        "operationId": "getAes",
        "description": "Get current AES data",
        "responses": {
          "200": {
            "description": "Successfully retrieved AES data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AesDataResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/news": {
      "get": {
        "tags": [
          "News"
        ],
        "operationId": "getNews",
        "description": "Get current fortnite news",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NewsMode"
            },
            "description": "The game mode to fetch news for"
          },
          {
            "name": "linkCode",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LinkCode"
            },
            "description": "The optional map code when retrieving news for a specific link code (when mode=creative)"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the news"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved news data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cosmetics": {
      "get": {
        "tags": [
          "Cosmetics"
        ],
        "operationId": "getCosmetics",
        "description": "Get all fortnite cosmetics",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the cosmetics data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved cosmetics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosmeticsDataResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cosmetics/upcoming": {
      "get": {
        "tags": [
          "Cosmetics"
        ],
        "operationId": "getUpcomingCosmetics",
        "description": "Get upcoming fortnite cosmetics",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the cosmetics data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved cosmetics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosmeticsDataResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cosmetics/search": {
      "get": {
        "tags": [
          "Cosmetics"
        ],
        "operationId": "searchCosmetics",
        "description": "Search fortnite cosmetics by metadata fields",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "minLength": 1
                },
                {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              ]
            },
            "style": "form",
            "explode": true,
            "description": "Filter by cosmetic id"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "minLength": 1
                },
                {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              ]
            },
            "style": "form",
            "explode": true,
            "description": "Filter by cosmetic name"
          },
          {
            "name": "set",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "minLength": 1
                },
                {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              ]
            },
            "style": "form",
            "explode": true,
            "description": "Filter by cosmetic set id"
          },
          {
            "name": "introductionSeason",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "minLength": 1
                },
                {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              ]
            },
            "style": "form",
            "explode": true,
            "description": "Filter by cosmetic introduction season id"
          },
          {
            "name": "rarity",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "minLength": 1
                },
                {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              ]
            },
            "style": "form",
            "explode": true,
            "description": "Filter by cosmetic rarity id"
          },
          {
            "name": "series",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "minLength": 1
                },
                {
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              ]
            },
            "style": "form",
            "explode": true,
            "description": "Filter by cosmetic series id"
          },
          {
            "name": "hasVariants",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by whether cosmetics have variants"
          },
          {
            "name": "matchType",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CosmeticsSearchMatchType"
            },
            "description": "The matching strategy used for string filters"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the cosmetics data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved filtered cosmetics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosmeticsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cosmetics/sets": {
      "get": {
        "tags": [
          "Cosmetics"
        ],
        "operationId": "getCosmeticSets",
        "description": "Get fortnite cosmetic sets",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the cosmetic sets data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved cosmetic sets data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosmeticSetsDataResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cosmetics/banners": {
      "get": {
        "tags": [
          "Cosmetics"
        ],
        "operationId": "getBanners",
        "description": "Get fortnite banners",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the banners data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved banners data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannersDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/weapons": {
      "get": {
        "tags": [
          "Weapons"
        ],
        "operationId": "getWeapons",
        "description": "Get fortnite weapons data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the weapons data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved weapons data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeaponsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/augments": {
      "get": {
        "tags": [
          "Augments"
        ],
        "operationId": "getAugments",
        "description": "Get fortnite augments data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the augments data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved augments data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AugmentsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/maps": {
      "get": {
        "tags": [
          "Maps"
        ],
        "operationId": "getMaps",
        "description": "Get fortnite maps data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the maps data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved maps data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quests": {
      "get": {
        "tags": [
          "Quests"
        ],
        "operationId": "getQuests",
        "description": "Get fortnite quests data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the quests data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved quests data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/maps/mode": {
      "get": {
        "tags": [
          "Maps"
        ],
        "operationId": "getMapMode",
        "description": "Get fortnite map data for a specific mode id",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The map mode id to retrieve (for example br)"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the map data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved map mode data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapModeDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Map mode data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/lookup": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "getLinkCodeData",
        "description": "Lookup a fortnite link code (mnemonic)",
        "parameters": [
          {
            "name": "linkCode",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LinkCode"
            },
            "description": "The link code to lookup"
          },
          {
            "name": "includeCCU",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include the global concurrent user count for this link code"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the link code data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved link code data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkCodeDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link code data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/lookup-bulk": {
      "get": {
        "tags": [
          "Links"
        ],
        "operationId": "getLinkCodeDataBulk",
        "description": "Lookup multiple fortnite link codes (mnemonics) in bulk",
        "parameters": [
          {
            "name": "linkCodes",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/LinkCodeBulkQuery"
            },
            "description": "The link codes to lookup"
          },
          {
            "name": "includeCCU",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include the global concurrent user count for these link codes"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the link codes data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved link codes data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkCodeDataBulkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link code data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/discovery/surface": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getDiscoverySurface",
        "description": "Get discovery data",
        "parameters": [
          {
            "name": "surfaceType",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DiscoverySurfaceType"
            },
            "description": "The type of the discovery surface to retrieve data for"
          },
          {
            "name": "playerPageId",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AccountId"
            },
            "description": "Required when surfaceType=PLAYER_PAGE, the account id of the player whose player page discovery surface data to retrieve"
          },
          {
            "name": "includeLinkData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include link code data in the discovery response, instead of just the link code itself"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the discovery & link code data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved discovery data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoverySurfaceDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/discovery/surface-page": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "getDiscoverySurfacePage",
        "description": "Get discovery page data",
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token for the discovery page to retrieve data for"
          },
          {
            "name": "includeLinkData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include link code data in the discovery response, instead of just the link code itself"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved discovery page data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoverySurfacePageDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/playlists": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "operationId": "getPlaylists",
        "description": "Get playlists data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the playlists data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved playlists data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/season-passes": {
      "get": {
        "tags": [
          "Season Passes"
        ],
        "operationId": "getSeasonPasses",
        "description": "Get all available season passes",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the season pass data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved season pass data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPassesDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/season-passes/battle-pass": {
      "get": {
        "tags": [
          "Season Passes"
        ],
        "operationId": "getBattlePass",
        "description": "Get the currently active battle pass data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the battle pass data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved battle pass data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPassDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Battle pass data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/season-passes/og-pass": {
      "get": {
        "tags": [
          "Season Passes"
        ],
        "operationId": "getOgPass",
        "description": "Get the currently active OG pass data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the og pass data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved OG pass data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPassDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "OG pass data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/season-passes/festival-pass": {
      "get": {
        "tags": [
          "Season Passes"
        ],
        "operationId": "getFestivalPass",
        "description": "Get the currently active festival pass data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the festival pass data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved festival pass data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPassDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Festival pass data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/season-passes/lego-pass": {
      "get": {
        "tags": [
          "Season Passes"
        ],
        "operationId": "getLegoPass",
        "description": "Get the currently active lego pass data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the lego pass data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved lego pass data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPassDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Lego pass data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/item-shop": {
      "get": {
        "tags": [
          "Shop"
        ],
        "operationId": "getItemShop",
        "description": "Get fortnite item shop data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the item shop data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved item shop data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemShopDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/real-money-bundles": {
      "get": {
        "tags": [
          "Shop"
        ],
        "operationId": "getRealMoneyBundles",
        "description": "Get fortnite real money bundles shop data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the real money bundles data"
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Indicates that only active bundles should be returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved real money bundles data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealMoneyBundlesDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/crew": {
      "get": {
        "tags": [
          "Shop"
        ],
        "operationId": "getCrewData",
        "description": "Get fortnite crew data",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the crew data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved crew data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrewDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tournaments": {
      "get": {
        "tags": [
          "Tournaments"
        ],
        "operationId": "getTournaments",
        "description": "Get tournament data in fnpubapi format",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TournamentRegion"
            },
            "description": "Optional region filter"
          },
          {
            "name": "includeHistoricData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include events older than 3 months, currently historic data goes back to mid 2024 until we have imported legacy tournament data"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "The language of the tournaments data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved tournaments data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tournaments/leaderboard": {
      "get": {
        "tags": [
          "Tournaments"
        ],
        "operationId": "getTournamentLeaderboard",
        "description": "Get tournament leaderboard data",
        "parameters": [
          {
            "name": "leaderboardEventId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The leaderboard event id"
          },
          {
            "name": "leaderboardEventWindowId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The leaderboard event window id"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0,
              "minimum": 0,
              "maximum": 100
            },
            "description": "The zero-based page index"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved tournament leaderboard data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TournamentLeaderboardDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stats/account": {
      "get": {
        "tags": [
          "Stats"
        ],
        "operationId": "getAccountStats",
        "description": "Get fortnite account lifetime stats data",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountId"
            },
            "description": "The account id whose stats to fetch"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/StatsTimeFrame"
            },
            "description": "The timeframe of the stats, defaults to current season"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account stats data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "errorCode",
          "errorMessage"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": false
          },
          "errorCode": {
            "$ref": "#/components/schemas/ApiErrorCode"
          },
          "errorMessage": {
            "type": "string",
            "description": "A human readable message of the error",
            "example": "Failed processing request"
          }
        }
      },
      "ApiErrorCode": {
        "type": "string",
        "enum": [
          "VALIDATION_ERROR",
          "NOT_FOUND",
          "RATELIMITED",
          "INTERNAL_QUERY_ERROR",
          "INTERNAL_ERROR"
        ],
        "example": "INTERNAL_ERROR",
        "description": "An unique error code"
      },
      "AccountId": {
        "type": "string",
        "pattern": "^([a-f0-9]{32}|epic)$",
        "description": "Represents a unique account id"
      },
      "AccountDisplayName": {
        "type": "string",
        "minLength": 1,
        "maxLength": 32,
        "description": "Represents an Epic account display name"
      },
      "AccountLookupBulkQuery": {
        "type": "array",
        "minItems": 1,
        "maxItems": 100,
        "description": "A bulk account lookup query by account ids (maximum 100)",
        "items": {
          "$ref": "#/components/schemas/AccountId"
        }
      },
      "AccountLookupBulkDataResponse": {
        "type": "object",
        "description": "Successful bulk account lookup response object",
        "required": [
          "success",
          "accounts"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "accounts": {
            "type": "array",
            "description": "The account lookup entries in the same order as requested account ids",
            "items": {
              "$ref": "#/components/schemas/AccountLookupBulkEntry"
            }
          }
        }
      },
      "AccountLookupByDisplayNameDataResponse": {
        "type": "object",
        "description": "Successful display name account lookup response object",
        "required": [
          "success",
          "accountId",
          "accountDetails",
          "accounts"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "accountId": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AccountId"
              }
            ],
            "deprecated": true,
            "description": "Account id of the first matched account, deprecated in favor of the <accounts> field and will be removed in a future version"
          },
          "accountDetails": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AccountLookupExternalDisplayNames"
              }
            ],
            "deprecated": true,
            "description": "Account names of the first matched account, deprecated in favor of the <accounts> field and will be removed in a future version"
          },
          "accounts": {
            "type": "array",
            "description": "The found accounts",
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "$ref": "#/components/schemas/AccountId"
                },
                "accountDetails": {
                  "$ref": "#/components/schemas/AccountLookupExternalDisplayNames"
                }
              }
            }
          }
        }
      },
      "AffiliateBySlugDataResponse": {
        "type": "object",
        "description": "Successful affiliate lookup response object",
        "required": [
          "success",
          "affiliate"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "affiliate": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Affiliate"
              },
              {
                "type": "object",
                "nullable": true
              }
            ],
            "description": "The affiliate data, or null if the affiliate could not be found"
          }
        }
      },
      "Affiliate": {
        "type": "object",
        "description": "Represents an affiliate",
        "required": [
          "id",
          "slug",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique affiliate id"
          },
          "slug": {
            "$ref": "#/components/schemas/AccountDisplayName"
          },
          "displayName": {
            "$ref": "#/components/schemas/AccountDisplayName"
          }
        }
      },
      "AesDataResponse": {
        "type": "object",
        "description": "Successful AES response object",
        "required": [
          "success",
          "version",
          "mainKey",
          "dynamicPaks"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "version": {
            "type": "string",
            "description": "Current Fortnite main version"
          },
          "mainKey": {
            "type": "string",
            "description": "Current Fortnite main AES key"
          },
          "dynamicPaks": {
            "type": "array",
            "description": "Dynamic pak AES key entries",
            "items": {
              "$ref": "#/components/schemas/AesDynamicPak"
            }
          }
        }
      },
      "AesDynamicPak": {
        "type": "object",
        "description": "A single dynamic AES key entry",
        "required": [
          "name",
          "guid",
          "aesKey",
          "fileCount"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Pak name"
          },
          "guid": {
            "type": "string",
            "description": "Pak guid"
          },
          "aesKey": {
            "type": "string",
            "nullable": true,
            "description": "AES key for this pak"
          },
          "fileCount": {
            "type": "number",
            "description": "Number of gamefiles included in this pak"
          }
        }
      },
      "AccountLookupBulkEntry": {
        "type": "object",
        "description": "A single bulk account lookup result for a requested account id",
        "required": [
          "accountId",
          "accountDetails"
        ],
        "properties": {
          "accountId": {
            "$ref": "#/components/schemas/AccountId"
          },
          "accountDetails": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AccountLookupExternalDisplayNames"
              },
              {
                "type": "object",
                "nullable": true
              }
            ],
            "description": "The matched account details, or null when the account could not be found"
          }
        }
      },
      "AccountLookupPlatformType": {
        "type": "string",
        "default": "epic",
        "enum": [
          "epic",
          "xbl",
          "nintendo",
          "psn",
          "steam"
        ]
      },
      "AccountLookupExternalDisplayNames": {
        "type": "object",
        "description": "The display names of linked external platform accounts",
        "required": [
          "epic",
          "xbl",
          "nintendo",
          "psn",
          "steam"
        ],
        "properties": {
          "epic": {
            "type": "string",
            "nullable": true,
            "description": "The Epic display name"
          },
          "xbl": {
            "type": "string",
            "nullable": true,
            "description": "The Xbox display name"
          },
          "nintendo": {
            "type": "string",
            "nullable": true,
            "description": "The Nintendo display name"
          },
          "psn": {
            "type": "string",
            "nullable": true,
            "description": "The Playstation display name"
          },
          "steam": {
            "type": "string",
            "nullable": true,
            "description": "The Steam display name"
          }
        }
      },
      "AccountRankedDataResponse": {
        "type": "object",
        "description": "Successful ranks response object",
        "required": [
          "success",
          "modes"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "modes": {
            "type": "array",
            "description": "The ranked progress for all modes",
            "items": {
              "$ref": "#/components/schemas/AccountRankProgress"
            }
          }
        }
      },
      "AccountRankProgress": {
        "type": "object",
        "required": [
          "rankingType",
          "rankingTrackId",
          "lastUpdatedAt",
          "currentDivision",
          "highestDivision",
          "promotionProgress",
          "currentPlayerRanking"
        ],
        "properties": {
          "rankingType": {
            "type": "string",
            "description": "The internal ranking mode",
            "example": "ranked-br"
          },
          "rankingTrackId": {
            "type": "string",
            "description": "The internal seasonal tracking id",
            "example": "C4m1s4"
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the account last progressed his rank, or null when the player has not played this mode"
          },
          "currentDivision": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AccountRankProgressRank"
              },
              {
                "type": "object",
                "nullable": true
              }
            ],
            "description": "The current rank of the player in the season, or null when the player has not played this mode"
          },
          "highestDivision": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AccountRankProgressRank"
              },
              {
                "type": "object",
                "nullable": true
              }
            ],
            "description": "The highest rank the player has been during the season, or null when the player has not played this mode"
          },
          "promotionProgress": {
            "type": "integer",
            "nullable": true,
            "description": "Percentage (0 - 100) when the account progresses to the next division",
            "example": 26
          },
          "currentPlayerRanking": {
            "type": "integer",
            "nullable": true,
            "description": "When the player is unreal, then this is their unreal rank",
            "example": null
          }
        }
      },
      "AccountRankProgressRank": {
        "type": "object",
        "description": "Represents ranked progress",
        "required": [
          "division",
          "divisionName",
          "divisionGroupName"
        ],
        "properties": {
          "division": {
            "type": "integer",
            "description": "The division index",
            "example": 0
          },
          "divisionName": {
            "type": "string",
            "description": "The human readable division name",
            "nullable": true,
            "example": "Bronze I"
          },
          "divisionGroupName": {
            "type": "string",
            "description": "The human readable division group name",
            "nullable": true,
            "example": "Bronze"
          }
        }
      },
      "RankedModesDataResponse": {
        "type": "object",
        "description": "Successful ranked modes response object",
        "required": [
          "success",
          "modes"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "modes": {
            "type": "array",
            "description": "The ranked modes",
            "items": {
              "$ref": "#/components/schemas/RankedModeData"
            }
          }
        }
      },
      "RankedModeData": {
        "type": "object",
        "required": [
          "rankingType",
          "modeName",
          "modeNamePosterUrl",
          "seasons",
          "divisions"
        ],
        "properties": {
          "rankingType": {
            "type": "string",
            "description": "The internal ranking mode",
            "example": "ranked-br"
          },
          "modeName": {
            "type": "string",
            "nullable": true,
            "description": "The display name of the mode",
            "example": "Battle Royale"
          },
          "modeNamePosterUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The mode poster",
            "example": "https://cdn2.unrealengine.com/en-ranked-br-480x270-480x270-12ec6fb92790.png"
          },
          "seasons": {
            "type": "array",
            "description": "Ranked Seasons of the mode",
            "items": {
              "$ref": "#/components/schemas/RankedModeDataSeason"
            }
          },
          "divisions": {
            "type": "array",
            "description": "Divisions of the mode",
            "items": {
              "$ref": "#/components/schemas/RankedModeDataDivision"
            }
          }
        }
      },
      "RankedModeDataSeason": {
        "type": "object",
        "description": "Represents a ranked season",
        "required": [
          "seasonId",
          "seasonRankingTrackId",
          "seasonNameShort",
          "seasonStart",
          "seasonEnd",
          "seasonPoster",
          "seasonBackground"
        ],
        "properties": {
          "seasonId": {
            "type": "string",
            "description": "The internal season id",
            "example": "39"
          },
          "seasonRankingTrackId": {
            "type": "string",
            "nullable": true
          },
          "seasonNameShort": {
            "type": "string",
            "description": "The display name of the season",
            "example": "C7S1: Pacific Break"
          },
          "seasonStart": {
            "type": "string",
            "format": "date-time",
            "description": "The start timestamp of the ranked season"
          },
          "seasonEnd": {
            "type": "string",
            "format": "date-time",
            "description": "The end timestamp of the ranked season"
          },
          "seasonPoster": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The season poster",
            "example": "https://cdn2.unrealengine.com/cdn-uploader-FNBR_39-00_C7S1_BR_DiscoverPlaylistTile_-480x270-dcf0acc9.jpg"
          },
          "seasonBackground": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The season background"
          }
        }
      },
      "RankedModeDataDivision": {
        "type": "object",
        "description": "Represents a ranked division",
        "required": [
          "division",
          "divisionName",
          "divisionGroupName"
        ],
        "properties": {
          "division": {
            "type": "integer",
            "description": "The division index",
            "example": 0
          },
          "divisionName": {
            "type": "string",
            "description": "The human readable division name",
            "nullable": true,
            "example": "Bronze I"
          },
          "divisionGroupName": {
            "type": "string",
            "description": "The human readable division group name",
            "nullable": true,
            "example": "Bronze"
          }
        }
      },
      "NewsDataResponse": {
        "type": "object",
        "description": "Successful news data response object",
        "required": [
          "success",
          "lang",
          "mode",
          "news"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "lang": {
            "$ref": "#/components/schemas/Language"
          },
          "mode": {
            "$ref": "#/components/schemas/NewsMode"
          },
          "news": {
            "type": "array",
            "description": "The news items",
            "items": {
              "$ref": "#/components/schemas/NewsDataEntry"
            }
          }
        }
      },
      "NewsDataEntry": {
        "type": "object",
        "description": "Represents a news entry",
        "required": [
          "id",
          "teaserTitle",
          "teaserImage",
          "title",
          "body",
          "image"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Represents the id of the news entry"
          },
          "teaserTitle": {
            "type": "string",
            "description": "The teaser title of this news entry"
          },
          "teaserImage": {
            "type": "string",
            "format": "uri",
            "description": "The teaser image of this news entry"
          },
          "title": {
            "type": "string",
            "description": "The details (full screen) title of this news entry"
          },
          "body": {
            "type": "string",
            "description": "The details (full screen) body content of this news entry"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "The details (full screen) image of this news entry"
          },
          "communityPostId": {
            "type": "string",
            "description": "The optional id of the related community post, ommited if not applicable"
          }
        }
      },
      "NewsMode": {
        "type": "string",
        "enum": [
          "br",
          "creative",
          "og",
          "reload",
          "festival",
          "lego_odyssey",
          "lego_bricklife",
          "all",
          "blitz"
        ],
        "default": "br"
      },
      "CosmeticsSearchMatchType": {
        "type": "string",
        "description": "The matching strategy used for string filters",
        "enum": [
          "exact",
          "partial"
        ],
        "default": "partial"
      },
      "CosmeticsSearchQuery": {
        "type": "object",
        "description": "Supported query parameters for cosmetics search",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              }
            ],
            "description": "Filter by cosmetic id"
          },
          "name": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              }
            ],
            "description": "Filter by cosmetic name"
          },
          "set": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              }
            ],
            "description": "Filter by cosmetic set id"
          },
          "introductionSeason": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              }
            ],
            "description": "Filter by cosmetic introduction season id"
          },
          "rarity": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              }
            ],
            "description": "Filter by cosmetic rarity id"
          },
          "series": {
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              }
            ],
            "description": "Filter by cosmetic series id"
          },
          "hasVariants": {
            "type": "boolean",
            "description": "Filter by whether cosmetics have variants"
          },
          "matchType": {
            "$ref": "#/components/schemas/CosmeticsSearchMatchType"
          }
        },
        "additionalProperties": false
      },
      "Language": {
        "type": "string",
        "enum": [
          "ar",
          "de",
          "en",
          "es",
          "es-419",
          "fr",
          "id",
          "it",
          "ja",
          "ko",
          "pl",
          "pt-BR",
          "ru",
          "th",
          "tr",
          "vi",
          "zh-Hans",
          "zh-Hant"
        ],
        "default": "en"
      },
      "TournamentRegion": {
        "type": "string",
        "enum": [
          "OCE",
          "ASIA",
          "ME",
          "EU",
          "BR",
          "NAC",
          "NAE",
          "NAW",
          "ONSITE"
        ],
        "default": "EU"
      },
      "GlobalCCU": {
        "type": "number",
        "format": "int32",
        "description": "The global concurrent player count for this link, only populated on supported endpoints with the includeCCU=true query parameter, otherwise -1",
        "default": -1
      },
      "LinkCode": {
        "type": "string",
        "description": "Represents a link code (mnemonic)",
        "pattern": "^[0-9a-zA-Z_-]{1,}$"
      },
      "LinkCodeData": {
        "type": "object",
        "required": [
          "linkCode",
          "linkType",
          "creatorId",
          "creatorCode",
          "creatorName",
          "globalCCU",
          "title",
          "tagline",
          "introduction",
          "imageUrl",
          "lobbyBackgroundImageUrl",
          "extraImageUrls",
          "rotations",
          "countdowns",
          "descriptionTags",
          "relatedLinkCodes",
          "createdAt",
          "publishedAt",
          "updatedAt",
          "lastActivatedAt"
        ],
        "properties": {
          "linkCode": {
            "$ref": "#/components/schemas/LinkCode"
          },
          "linkVersion": {
            "type": "number",
            "format": "int32"
          },
          "linkType": {
            "type": "string",
            "description": "TODO: decide if we only want to allow certain link types (ugc?) (if so, make this an enum)"
          },
          "creatorId": {
            "$ref": "#/components/schemas/AccountId"
          },
          "creatorCode": {
            "type": "string",
            "nullable": true
          },
          "creatorName": {
            "type": "string"
          },
          "globalCCU": {
            "$ref": "#/components/schemas/GlobalCCU"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "The localized title"
          },
          "tagline": {
            "type": "string",
            "nullable": true,
            "description": "The localized tagline, usually a description of the link code"
          },
          "introduction": {
            "type": "string",
            "nullable": true,
            "description": "The localized introduction, usually not used anymore in favor of the tagline"
          },
          "productTag": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The localized main image representing the link code"
          },
          "lobbyBackgroundImageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "The localized background image, if the the link code specifies a custom lobby background"
          },
          "extraImageUrls": {
            "type": "array",
            "nullable": true,
            "description": "Some epic owned link codes have extra showcase images",
            "items": {
              "$ref": "#/components/schemas/LinkCodeDataExtraImageEntry"
            }
          },
          "rotations": {
            "type": "array",
            "nullable": true,
            "description": "Maps by epic might have multiple maps, this represents the localized rotation of those maps",
            "items": {
              "$ref": "#/components/schemas/LinkCodeDataRotationEntry"
            }
          },
          "countdowns": {
            "type": "array",
            "nullable": true,
            "description": "Maps by epic might have a countdown to an live event or another release",
            "items": {
              "$ref": "#/components/schemas/LinkCodeDataCountdownEntry"
            }
          },
          "descriptionTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "relatedLinkCodes": {
            "type": "array",
            "nullable": true,
            "description": "Related link codes, for epic owned link codes such as experiences or mode sets",
            "items": {
              "$ref": "#/components/schemas/LinkCodeDataRelationEntry"
            }
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "lastActivatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        }
      },
      "LinkCodeDataExtraImageEntry": {
        "type": "object",
        "description": "Represents an extra image entry for a link code",
        "required": [
          "imageUrl"
        ],
        "properties": {
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "LinkCodeDataRotationEntry": {
        "type": "object",
        "description": "Represents a rotation entry for a link code",
        "required": [
          "subTitle",
          "subImageUrl",
          "lobbyBackgroundImageUrl"
        ],
        "properties": {
          "durationSec": {
            "type": "number",
            "description": "The duration of the rotation entry in seconds",
            "format": "int32"
          },
          "subTitle": {
            "type": "string",
            "nullable": true
          },
          "subImageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "lobbyBackgroundImageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "LinkCodeDataCountdownEntry": {
        "type": "object",
        "description": "Represents a countdown entry for a link code",
        "required": [
          "visibleDate",
          "targetDate",
          "featureFlags"
        ],
        "properties": {
          "visibleDate": {
            "type": "string",
            "nullable": true
          },
          "targetDate": {
            "type": "string",
            "nullable": true
          },
          "featureFlags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LinkCodeDataRelationEntry": {
        "type": "object",
        "description": "Represents a relation between two link codes",
        "required": [
          "linkCode",
          "relationTypes"
        ],
        "properties": {
          "linkCode": {
            "$ref": "#/components/schemas/LinkCode"
          },
          "relationTypes": {
            "type": "array",
            "description": "The relation types between the two link codes, there can be multiple relation types",
            "items": {
              "$ref": "#/components/schemas/LinkCodeDataRelationType"
            }
          }
        }
      },
      "LinkCodeDataRelationType": {
        "type": "string",
        "description": "The relation type between two link codes",
        "enum": [
          "SUB_LINK",
          "PARENT_EXPERIENCE",
          "PARENT_SET",
          "FAVORITE_OVERRIDE",
          "PLAY_HISTORY_OVERRIDE",
          "RATING_OVERRIDE"
        ]
      },
      "LinkCodeDataResponse": {
        "type": "object",
        "description": "Successful link code response object",
        "required": [
          "success",
          "link"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "link": {
            "$ref": "#/components/schemas/LinkCodeData"
          }
        }
      },
      "LinkCodeBulkQuery": {
        "type": "array",
        "minItems": 1,
        "maxItems": 25,
        "items": {
          "$ref": "#/components/schemas/LinkCode"
        }
      },
      "LinkCodeDataBulkResponse": {
        "type": "object",
        "description": "Successful link codes response object",
        "required": [
          "success",
          "links"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "The link codes data for the requested link codes (only includes successful lookups)",
            "items": {
              "$ref": "#/components/schemas/LinkCodeData"
            }
          }
        }
      },
      "DiscoverySurfaceDataResponse": {
        "type": "object",
        "description": "Successful discovery surface response object",
        "required": [
          "success",
          "discovery"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "discovery": {
            "$ref": "#/components/schemas/DiscoverySurface"
          }
        }
      },
      "DiscoverySurfacePageDataResponse": {
        "type": "object",
        "description": "Successful discovery surface page response object",
        "required": [
          "success",
          "discoveryPage"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "If the request was successful",
            "example": true
          },
          "discoveryPage": {
            "$ref": "#/components/schemas/DiscoverySurfacePanelPage"
          }
        }
      },
      "DiscoverySurface": {
        "type": "object",
        "description": "Represents a discovery surface",
        "required": [
          "panels"
        ],
        "properties": {
          "panels": {
            "type": "array",
            "description": "The panels of the discovery surface",
            "items": {
              "$ref": "#/components/schemas/DiscoverySurfacePanel"
            }
          }
        }
      },
      "DiscoverySurfaceType": {
        "type": "string",
        "default": "FRONTEND",
        "enum": [
          "FRONTEND",
          "EPIC_PAGE",
          "PLAYER_PAGE"
        ]
      },
      "DiscoverySurfacePanel": {
        "type": "object",
        "description": "Represents a discovery surface panel",
        "required": [
          "id",
          "displayName",
          "subTitle",
          "type",
          "subType",
          "featureTags",
          "firstPage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The internal id of the panel"
          },
          "displayName": {
            "type": "string",
            "description": "The display name of the panel"
          },
          "subTitle": {
            "type": "string",
            "nullable": true,
            "description": "The optional subtitle of the panel"
          },
          "type": {
            "$ref": "#/components/schemas/DiscoverySurfacePanelType"
          },
          "subType": {
            "$ref": "#/components/schemas/DiscoverySurfacePanelSubType"
          },
          "featureTags": {
            "type": "array",
            "description": "The feature tags of the panel, specifying how the panel is displayed ingame",
            "items": {
              "type": "string"
            }
          },
          "firstPage": {
[...]
